.container{
  text-align: center;
  margin-top:23px
}

table{
  margin: auto;
}

input{
  border-radius: 21px;
  border: 5px solid #244624;
  font-size:34px;
  height: 65px;
  width: 456px;
}

button{
  border-radius: 20px;
  font-size: 40px;
  background: #dab870;
  width: 102px;
  height: 90px;
  margin: 6px;
}

.calculator{ 
  border: 4px solid #1c3abe;
  background-color: grey;
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
  
}

h1{
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}

.mb{
  background-color: aqua;
}

.ts{
  background-color: #c3c2c2;
}
